<section id="prezi-player">

<% width="width=100%"; height="height=100%" %>
<object id='prezi'>
		<% prezi = copywriting('Front Page Presentation', page: @page, scope: 'body', phrase_type: 'text', default: '<p>Insert presentation material here. DO NOT LEAVE BLANK!</p>') %>
		
		<% begin %>
				<%= raw /<param.*<\/embed>/.match(prezi)[0].gsub(/width="\d*"/, width).gsub(/height="\d*"/, height) %>
		<% rescue %>
		<% end %>
</object>
</section>
