<section id='header'>
	<section class='centered'>
		<%= link_to(logo, root_path, id: 'logo') %>
		<section class='right'>
			<%= render partial: '/shared/header/search' %>
			<section class='info'>
				<%= render partial: '/shared/contact_info/' %>
				<%= render partial: '/shared/social_network_icons' %>
			</section>
		</section>
	</section>
</section>
