@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

$red: #AF0A0A;
$grey: #282828;
$orange: #F07814;
$blue: #005569;
$white: #FFFFF0;

$page_min_width: 60em;

html {
		font-family: 'Ubuntu', sans-serif;
}
