$padding: 0.25em;

.item_title {
	@include border_on(top, dotted, thin, $grey);
	@include border_on(bottom, dotted, thin, $grey);
	
	padding: {
		top: $padding;
		bottom: $padding;
		left: $padding * 2;
	}
}

.news_body {
	padding: {
		left: $padding * 2;
	}

	section {
		display: block;
	}
}
	
#social_network_feed {
	div {
		padding: {
			left: $padding * 2;
		}
	}
}
