@import 'branding';

$padding: 0.25em;

.nav_strip {

	background: $red;
}

ul {list-style: none;}
li {list-style: none;}

nav {
	position: relative;

	p {
		color: $white;
		display: inline-block;

		position: absolute;
		right: 0;
		top: 25%;
	}

	ul.dropdown {
		position: relative;
		height: 2.15em;

		li {
			float: left;
			zoom: 1;

			a {
				display: block;

				padding: {
					top: $padding * 2;
					bottom: $padding * 2;
					left: $padding * 2;
					right: $padding * 2;
				}

				color: $white;
				text-decoration: none;
				
				&:hover {
					background: #700000;
					text-decoration: none;
				}
			}
		}

		li.hover, li:hover {
			position: relative;
			background: #700000;
		}

		ul {
			width: 10em;
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: 0;

			li {
				@include all_border(outset);
				float: none;

				a {
					display: inline-block;
					background: $red;
					width: 100%;
					padding: {
						top: $padding * 2;
						bottom: $padding * 2;
						left: 0; 
						right: 0;
					}
				}
			}
		}

		ul ul {
			left: 100%; top: 0;
			padding: {
				top: $padding;
			}

		}

		li:hover > ul { visibility: visible; }

		li {
			margin: {
				bottom: 0.5em;
			}
		}
	}
}	
