nav {
	$padding: 0.25em;

	position: relative;
	padding: 0;
	margin: 0;

	p {
		color: $white;
		padding: 0;
		margin: 0;
		display: inline-block;

		position: absolute;
		top: $padding * 2;
		right: 0em;
	}

	ul {
		display: inline-block;
		list-style-type: none;

		padding: 0;
		margin: 0;

		background: $red;

		li {
			display: inline-block;
			position: relative;
			
			top: 0;

			padding: {
				top: $padding * 2;
				bottom: $padding * 2;
				left: $padding *  2;
				right: $padding * 2;
			}

			margin: 0;

			&:hover {
				background: #700000;

				ul {
					display: block;
					position: absolute;

					li {
						display: inline-block;
						position: relative;
					}
				}
			}

			ul {
				display: none;
				padding: 0;
				margin: 0;

				li {
					padding: 0;
					margin: 0;
				}
			}
		}

	}

	a {
		display: inline-block;
		color: $white;
		text-decoration: none;
		
		padding: 0;
		margin: 0;
	}
}	
