#search {
	display: block;
	background: $red;

	padding: {
		top: 0.5em;
		left: 1em;
		right: 1em;
		bottom: 0.5em;
	}

	@include all_border(solid);
	@include border_on(top, none);
	@include all_round();
	@include rounded(top, left, 0);
	@include rounded(top, right, 0);

	#query {
		width: 15em;
	}
}
