#container_take_action {
	display: inline-block;

	section {
		@include all_border(outset, thick, $red + 50);
		@include all_round();

		background: $red;

		@include gradient(top, $red + 50, $red - 45);

		margin: {
			top: 1.25em;
		}

		width: 12em;
		height: 5em;

		a {
			display: block;
			margin: auto;

			width: 4em;

			color: $white;
			text: {
				decoration: none;
				shadow: 0.2em 0.2em 0.2em $grey;
			}

			font: {
				weight: bold;
				size: xx-large;
			}
		}
	}
}
