#take_action {
		text-align: center;
		height: 100%;
		width: 25%;

		td {
				height: 33%;
				
				
				section {
						@include all_border(outset, 0.5em);
						@include all_round();
						
						margin: {
								left: 1em;
						}

						padding: {
								top: 2em;
								bottom: 2em;
						}

						background: $red;

						a {
								text-decoration: none;
								font: {
										size: 1.5em;
										weight: bold;
								}

								color: $white;
						}

				}
		}
}
