@import 'branding';

/** SASS Mixins **/

@mixin border_on($side, $style, $width: thick, $color: $red) {
		border-#{$side}: $style;
		border-width: $width;
		border-color: $color;
}

@mixin rounded($horiz, $vert, $radius: 5px) {
		border-#{$horiz}-#{$vert}-radius: $radius;
}

@mixin bg_image($url) {
		background: {
				position: top left;
				repeat: repeat-x;
				image: $url;
		}
}

/** HTML parts **/
body {
		background: {
				color: $white;
		}

		color: $grey;

		text-align: left;
}

nav {

		background: {
				color: $red;
		}

		a {
				&:link {
						color: $white;
						text-decoration: none;
				}

				&:visited {
						color: $white;
						text-decoration: none;
				}
		}
}


/** HTML id's **/
#page_container {

		/** Centering the page content **/
		display: block;
		margin: auto;
		text-align: left;
}

#page {
		width: 75%;
}

#header, #footer {
		text-align: left;
		color: $grey;
}


#header_inner {
		@include border_on(bottom, outset);
		@include rounded(bottom, right);
		@include rounded(bottom, left);
		/**@include bg_image(url(header.png));**/
}

#header_inner, #footer_inner {
		width: 75%;
		margin: auto;
}

#search {
		background-color: $red;
		padding: 10px;
		@include rounded(bottom, left, 10px);
		@include rounded(bottom, right, 10px);
}

#social_network_icons {
}

#logo_container {
		padding-top: 10px;
}

#logo{
}

#footer_inner {
			@include border_on(top, inset);
			@include rounded(top, left);
			@include rounded(top, right);

			/**@include bg_image(url(footer.png));**/
}

/** HTML classes **/
.bg_filled {
		background: {
				color: $white;
		}
}

.align_right {
		float:right;
}

.icon {
		display: block;
}

.fixed_width {
		min-width: 800px;
}

.align_vert {
		position: relative;
}

.button {
}	
