@import 'branding';

/** SASS Mixins **/

@mixin border_on($side, $style, $width: thick, $color: $red) {
		border-#{$side}: $style;
		border-width: $width;
		border-color: $color;
}

@mixin rounded($horiz, $vert, $radius: 2em) {
		border-#{$horiz}-#{$vert}-radius: $radius;
}

@mixin bg_image($url) {
		background: {
				position: top left;
				repeat: repeat-x;
				image: $url;
		}
}

body {
		background: {
				color: $white;
		}

		color: $grey;
		text-align: left;
		
}

#header, #footer {
		background: $white;
}

.centered {
		min-width: 60%;
		max-width: 75%;
		margin: auto;
}

nav {
		width: 100%;
		
		float: left;

		ul {
				margin: 0px;
		}

		li {
				list-style: none;
				float: left;

				a {
						color: $white;
				}
		}
}

.standard {
		background: $white;
		color: $grey;
}

.invert {
		background: $red;
		color: $white;
}

.selected {
		background: $white;
		color: $grey;
}
