@import 'branding';

/** SASS Mixins **/

@mixin border_on($side, $style, $width: thick, $color: $red) {
		border-#{$side}: $style;
		border-width: $width;
		border-color: $color;
}

@mixin all_border($style, $width: thick, $color: $red) {
		@include border_on(top, $style, $width, $color);
		@include border_on(left, $style, $width, $color);
		@include border_on(right, $style, $width, $color);
		@include border_on(bottom, $style, $width, $color);
}

@mixin rounded($horiz, $vert, $radius: 1em) {
		border-#{$horiz}-#{$vert}-radius: $radius;
}

@mixin all_round($radius: 0.5em) {
		@include rounded(top, left, $radius);
		@include rounded(top, right, $radius);
		@include rounded(bottom, left, $radius);
		@include rounded(bottom, right, $radius);
}

@mixin bg_image($url) {
		background: {
				position: top left;
				repeat: repeat-x;
				image: $url;
		}
}

body {
		background: {
				color: $white;
		}

		color: $grey;
		text-align: left;
		font-size: medium;
		margin: 0;
		
		overflow: auto;	
}

.centered {
		min-width: 60em;
		max-width: 65%;
		margin: auto;
}

.left {
		float: left;
}

.right {
		float: right;
}

.standard {
		background: $white;
		color: $grey;
}

.invert {
		background: $red;
		color: $white;
}

.selected {
		a {
				text-transform: uppercase;
		}

		background: $grey;
}

.address, .contact {
		p {
				margin: 0;
		}
}

section {
		overflow: auto;
}

@import 'nav';

#header {

		#logo {
				padding: {
						top: 1em;
				}
		}

		@import 'search';
		
		td {
				vertical-align: bottom;

				.contact {
						padding: {
								right: 2em;
						}
				}

				#social_network_icons {
						padding: {
								top: 1em;
						}

						img {
								display:block;
						}
				}
		}
}

#body {
		&> section {
				margin: {
						top: 1em;
						bottom: 1em;
				}
		}
		#hero_container {
				height: 25em;
				@import 'prezi';
		}

		margin: {
				top: 0;
				bottom: 0;
		}

		@import 'take_action';
		@import 'info';
}


#footer {

		display: block;

		nav {
				float: right;
				text-align: center;

				p {
						float: left;
				}

				margin: {
						top: 0;
						bottom: 1em;
				}
		}

		ul {
				padding: {
						left: 0;
						right: 3em;
				}

				li {
						float: right;
				}

				.first {
						@include border_on(right, none);
						@include border_on(left, solid, 0.2em, $white); 
				}

				.last {
							padding: {
									right: 1em;
							}
				}
		}

		table {
				width: 100%;
		}

		td {
				padding: {
						bottom: 1em;
				}

				vertical-align: top;

				#social_network_icons {
						float: right;
				}
		}
}

