@import 'branding';

#container_hero {
	display: none;
}

.field {
	padding: {
		top: 0.5em;
		left: 0.5em;
		bottom: 0.5em;
	}

	* {
		display: inline-block;
		vertical-align: top;
	}

	label {
		width: 10em;
	}
}

.required {
	color: $red;
}

.actions {
	padding: {
		top: 1em;
	}
}
