@import 'branding';

#container_hero {
	display: none;
}

#recent_news_items {
	h2 {
		margin: {top: 0;}
		padding: 0;
	}

	ul {
		display: block;
		background: transparent;
		list-style-type: circle;
	}

	li {
		display: list-item;
		padding: {
			bottom: 1em;
		}

		margin: {
			left: 1em;
		}
	}

	a {
		padding: 0;
		color: $red;

		&:hover {
			background: inherit;
			text-decoration: underline;
		}
	}
}

.news_item {
	p {
		margin: { top: 0; }
		padding: 0;
	}
}

.news_item_truncated {
	a {
		display: inline-block;
		text-decoration: none;
		color: $red;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		padding: {
			left: 1em;
		}
	}
}

.read_more {
	display: inline-block;
	text-decoration: none;
	color: $red;

	padding: {
		left: 1em;
	}

	&:hover {
		text-decoration: underline;
	}
}

article {
	margin: {top: 0.5em; bottom: 0.5em;}
}


