@import 'branding';

#container_hero {
	display: none;
}

#body_content_title {
	select {
		display: inline-block;
		vertical-align: middle;
	}
}

#body_content #body_content_right {
	width: $page_min_width * 0.20;
}

#portfolio_main_image_container {

	img {
		display: block;
		width: $page_min_width * 0.75;
		margin: 0; 
		@include all_round(0.75em);
	}
}

#portfolio_images {
	.selected a img {
		@include all_border(solid, thin);
	}

	.selected a {
		background: transparent;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;

	}	

	li {
		display: inline-block;
	}
}

span.content {
	p {

		margin: {
			top: 2em;
			left: 1em;
		}

		text-align: center;
		display: inline-block;
	}
}	
