@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
html {
  font-family: 'Ubuntu', sans-serif; }

/** SASS Mixins **/
body {
  color: #282828;
  text-align: left;
  font-size: medium;
  margin: auto;
  min-width: 60em;
  max-width: 100%;
  background: white; }

#site_bar {
  width: 100%; }
  #site_bar #site_bar_content {
    width: 60em;
    margin: auto; }

.icon {
  height: 2em;
  width: 2em; }

.inline {
  display: inline-block;
  vertical-align: top; }

.centered {
  width: 60em;
  margin: auto;
  position: relative; }

.left {
  float: left; }

.right {
  float: right; }

.standard {
  background: white;
  color: #282828; }

.invert {
  background: #af0a0a;
  color: white; }

.selected {
  background: #282828; }

section {
  background: transparent; }

nav {
  position: relative;
  padding-top: 0.25em;
  padding-bottom: 0.25em; }
  nav ul {
    display: inline-block;
    list-style-type: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0;
    padding-right: 0;
    margin: 0; }
    nav ul li {
      display: inline;
      margin: 0;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 0.5em;
      padding-right: 0.5em; }
      nav ul li:hover {
        background: #700000; }
      nav ul li a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0;
        margin: 0; }
  nav p {
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 0em; }

#header {
  width: 100%; }
  #header .right {
    display: block;
    position: relative; }
  #header #logo {
    padding-top: 0.25em;
    padding-bottom: 0.25em; }
  #header #search {
    display: block;
    background: #af0a0a;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    border-top: solid;
    border-width: thick;
    border-color: #af0a0a;
    border-left: solid;
    border-width: thick;
    border-color: #af0a0a;
    border-right: solid;
    border-width: thick;
    border-color: #af0a0a;
    border-bottom: solid;
    border-width: thick;
    border-color: #af0a0a;
    border-top: none;
    border-width: thick;
    border-color: #af0a0a;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    #header #search #query {
      width: 15em; }
  #header .info {
    position: relative; }
    #header .info .contact {
      display: inline-block;
      position: relative;
      left: 0;
      padding-top: 2em; }
      #header .info .contact p {
        padding: 0;
        margin: 0; }
    #header .info .container_social_network_icons {
      display: inline-block;
      position: absolute;
      right: 0; }
      #header .info .container_social_network_icons a img {
        display: block; }

#body {
  width: 100%;
  margin: auto;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em; }
  #body #info_container .item_title {
    border-top: dotted;
    border-width: thin;
    border-color: #282828;
    border-bottom: dotted;
    border-width: thin;
    border-color: #282828;
    color: #af0a0a;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em; }
  #body #info_container .side_body {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    padding-right: 1em; }
    #body #info_container .side_body #social_network_feed {
      width: 20em; }
      #body #info_container .side_body #social_network_feed h3 {
        padding: 0;
        margin: 0;
        margin-bottom: 12px; }
      #body #info_container .side_body #social_network_feed div {
        padding-left: 0.5em; }
  #body #info_container #news_container {
    display: inline-block;
    border-right: dashed;
    border-width: thin;
    border-color: #af0a0a;
    padding-right: 2em;
    width: 35em; }
    #body #info_container #news_container #news {
      margin: 0;
      padding: 0; }
    #body #info_container #news_container .news_body {
      padding-left: 0.5em; }
    #body #info_container #news_container a {
      text-decoration: none;
      color: #af0a0a;
      font-size: 0.80em; }
  #body #container_take_action {
    position: fixed;
    top: 10em;
    right: 1em;
    border-top: solid;
    border-width: thick;
    border-color: #af0a0a;
    border-left: solid;
    border-width: thick;
    border-color: #af0a0a;
    border-right: solid;
    border-width: thick;
    border-color: #af0a0a;
    border-bottom: solid;
    border-width: thick;
    border-color: #af0a0a; }
    #body #container_take_action section {
      background: white;
      width: 10em;
      height: 5em; }

#container_hero {
  background: #868686;
  width: 100%;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em; }
  #container_hero #hero #prezi-player {
    display: inline-block;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top: outset;
    border-width: 0.5em;
    border-color: white;
    border-left: outset;
    border-width: 0.5em;
    border-color: white;
    border-right: outset;
    border-width: 0.5em;
    border-color: white;
    border-bottom: outset;
    border-width: 0.5em;
    border-color: white;
    width: 45em;
    height: 20em; }
    #container_hero #hero #prezi-player #prezi {
      width: 45em;
      height: 20em; }
  #container_hero #hero #message {
    margin: 0;
    padding-top: 0.25em;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 4em;
    color: white; }

.nav_strip {
  background: #af0a0a; }

#footer {
  padding-top: 0.5em;
  color: #282828; }
  #footer .contact {
    display: inline-block;
    position: relative; }
    #footer .contact p {
      padding: 0;
      margin: 0; }
  #footer .container_social_network_icons {
    display: inline-block;
    position: absolute;
    right: 0; }
    #footer .container_social_network_icons a img {
      display: block; }
  #footer .container_social_network_icons {
    top: 0; }
    #footer .container_social_network_icons a img {
      display: inline-block; }
  #footer #copyright {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em; }
