@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
html {
  font-family: 'Ubuntu', sans-serif; }

/** SASS Mixins **/
/** HTML parts **/
body {
  background-color: #fffff0;
  color: #282828;
  text-align: left; }

#header, #footer {
  background-color: #af0a0a;
  text-align: left;
  color: #fffff0; }

#header_inner, #footer_inner {
  width: 75%;
  margin: auto; }

#header {
  border-bottom: outset;
  border-width: thick;
  border-color: #af0a0a;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

nav {
  background-color: #af0a0a; }
  nav a:link {
    color: #fffff0;
    text-decoration: none; }
  nav a:visited {
    color: #fffff0;
    text-decoration: none; }

#footer {
  border-top: inset;
  border-width: thick;
  border-color: #af0a0a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

/** HTML id's **/
#page_container {
  width: 100%;
  /** Centering the page content **/
  display: table;
  margin: auto;
  text-align: left; }
  #page_container header {
    width: 100%; }
  #page_container footer {
    width: 100%; }

#page {
  width: 75%; }

/** HTML classes **/
.bg_filled {
  background-color: #af0a0a; }
