@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
/** SASS Mixins **/
html {
  font-family: 'Ubuntu', sans-serif; }

#body_content_title {
  display: none; }

.item_title {
  border-top: dotted;
  border-width: thin;
  border-color: #282828;
  border-bottom: dotted;
  border-width: thin;
  border-color: #282828;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em; }

.news_body {
  padding-left: 0.5em; }
  .news_body section {
    display: block; }

#social_network_feed div {
  padding-left: 0.5em; }

#news_container {
  display: inline-block;
  border-right: dashed;
  border-width: thin;
  border-color: #af0a0a;
  padding-right: 2em;
  width: 35em; }
  #news_container #news {
    margin: 0;
    padding: 0; }
  #news_container .news_body {
    padding-left: 0.5em; }
