/** SASS Mixins **/
html {
  font-family: 'Ubuntu', sans-serif; }

#body_content_title {
  display: none; }

.item_title {
  border-top: dotted;
  border-width: thin;
  border-color: #282828;
  border-bottom: dotted;
  border-width: thin;
  border-color: #282828;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em; }

.news_body {
  padding-left: 0.5em; }
  .news_body section {
    display: block; }

#social_network_feed div {
  padding-left: 0.5em; }

#news, #twitter {
  margin-top: 0;
  padding: 0; }

#documents, #partners {
  padding-left: 0.5em; }
