/** SASS Mixins **/
html {
  font-family: 'Ubuntu', sans-serif; }

#container_hero {
  display: none; }

#body_content_title select {
  display: inline-block;
  vertical-align: middle; }

#body_content #body_content_right {
  width: 12em; }

#portfolio_main_image_container img {
  display: block;
  width: 45em;
  margin: 0;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em; }

#portfolio_images .selected a img {
  border-top: solid;
  border-width: thin;
  border-color: #af0a0a;
  border-left: solid;
  border-width: thin;
  border-color: #af0a0a;
  border-right: solid;
  border-width: thin;
  border-color: #af0a0a;
  border-bottom: solid;
  border-width: thin;
  border-color: #af0a0a; }
#portfolio_images .selected a {
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
#portfolio_images li {
  display: inline-block; }

span.content p {
  margin-top: 2em;
  margin-left: 1em;
  text-align: center;
  display: inline-block; }
