<section id='container_documents'>
	<header>
		<hgroup>
			<h3> Documents </h3>
		</hgroup>
	</header>
	<section id='documents'>
		<%= raw copywriting('Documents', scope: 'side bar', phrase_type: 'wysiwyg') %>
	</section>
</section>
