<section id='social_network_feed'>
	<h3 id="twitter" >Recent Tweet</h3>
	<% account = "NLA_Pittsburgh"; timeline = Twitter.user_timeline(account, include_entities: true) %>
	<%=raw timeline.first.oembed.html %>
</section>
