<section id='footer'>
	<section class='centered'>
		<%= render partial: '/shared/contact_info/' %>
		<%= render partial: '/shared/social_network_icons' %>

		<p id='copyright'>
			<%= translate(".copyright", :year => Time.now.year,
				:site_name => RefinerySetting.find_or_set(:site_name, "Neighborhood Learning Alliance"))%>
		</p>		
	</section>
</section>
