<section id='header_inner' class='centered'>

<section id='header_right'>
<%= render partial: '/shared/search' %>

<section id='social_network_icons_header' >
<%= render partial: '/shared/social_network_icons' %>
</section>

</section>

<section id='logo_container'>
<%= link_to(logo, root_path, id: 'logo') %>
</section>

<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
}) %>
</section>
