<%= link_to(root_path, :id => 'logo') do %>
		<img src="images/logo.png", alt="Neighborhood Learning Alliance Logo" />
<% end %>

<h1 id='company_name'>
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
</h1>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
