<div id='header_inner'>
<%= render partial: '/shared/search' %>

<%= link_to(logo, root_path, id: 'logo') %>

<%= render partial: '/shared/social_network_icons' %>

<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
}) %>
</div>
