<%
  if !!local_assigns[:apply_css] and (classes = menu_branch_css(local_assigns)).any?
    css = "#{classes.join(' ')}".html_safe
  end
-%>
<li class="<%= ['', css].compact.join(' ').gsub(/\ *$/, '').html_safe %>">
	<%= link_to menu_branch.title, menu_branch.url -%>
  <% if (children = menu_branch.children unless hide_children).present? -%>
    <ul class='clearfix sub_menu'>
      <%= render :partial => '/shared/menu_branch', :collection => children,
                 :locals => {
                   :apply_css => local_assigns[:apply_css],
                   :hide_children => !!hide_children
                 } -%>
    </ul>
  <% end -%>
</li>
