<section class='nav_strip'>
	<section class='container_nav centered'>
		<%= render(:partial => "/shared/menu",
							 :locals => {
							 :dom_id => 'menu',
							 :css => 'menu'})
		%>
	</section>
</section>
