<h3 id='news_title'>
		<%= item.title.titleize %>
</h3>
<div id="news_body">
<section id='time_posted'>
<small> Posted: <%= distance_of_time_in_words_to_now(item.publish_date) %> </small>
</section>
<section id='news_link'>
<%= truncate(strip_tags(item.body), length: 200) %>
<p> <%= link_to "Read full article", item %> </p>
</section>
</div>
