<section id='news_container'>
<h3 id='news'> Recent News </h3>
<% count = 0; max = 3 %>
<% latest_news(count: max).each do |item| %>
		<section class='news_item'
		<% if 0 == count then %>
				id='first'
		<% elsif max - 1 == count %>
				id='last'
		<% end %>
		>
		<%= render partial: "/shared/news_item.html.erb", locals: {item: item} %>
		</section>
		<% count += 1 %>
<% end %>
</section>
