<section id='container_partners'>
	<header>
		<hgroup>
			<h3> Our Partners </h3>
		<hgroup>
	<header>
	<section id='partners'>
		<%= raw copywriting('partners', scope: 'side bar', phrase_type: 'wysiwyg') %>
	</section>
</section>
