<section id='social_network_icons'>
		<%= link_to twitter, "www.twitter.com", id: "icon_twitter" %>
		<%= link_to facebook, "www.facebook.com", id: "icon_facebook" %>
		<%= link_to google_plus, "plus.google.com", id: "icon_google_plus" %>
</section>
