<section class='social_network_icons'>
<%= link_to twitter, "http://www.twitter.com", :class => 'icon' %>
<%= link_to facebook, "http://www.facebook.com", :class => "icon" %>
<%= link_to google_plus, "http://plus.google.com", :class => "icon" %>
</section>
