<section id='social_network_icons'>
<%= link_to('http://www.twitter.com', :id => 'twitter_icon') do %>
		<img src="images/twitter.png", alt="Follow us on Twitter!" />
<% end %>

<%= link_to('http://www.facebook.com', :id => 'fb_icon') do %>
		<img src='images/fb_icon.png', alt="Like us on Facebook!" />
<% end %>

<%= link_to('http://plus.google.com', :id => 'gplus_icon') do %>
		<img src='images/gplus.png', alt="Check us out on G+" />
<% end %>
</section>
