<section class='container_social_network_icons'>
	<%= link_to twitter, "https://twitter.com/#!/NLA_Pittsburgh"%>
	<%= link_to facebook, "https://www.facebook.com/nla.pittsburgh"%>
	<%= link_to google_plus, "https://plus.google.com/b/113567946019373613476/113567946019373613476/posts"%>
</section>
