<table id='take_action' class='right'>
		<tr>
				<td>
							<section class='button'>
									<%= link_to 'Our Vision', "" %>
							</section>
				</td>
		</tr>
		<tr>
				<td>
						<section class='button'>
								<%= link_to 'Our Mission', "" %>
						</section>
				</td>
		</tr>
		<tr>
				<td>
						<section class='button'>
								<%= link_to 'Take Action', "" %>
						</section>
				</td>
		</tr>
</table>
