<div class='button' id='action0'>
		<%= link_to 'Take Action 1!', "" %>
</div>

<div class='button' id='action1'>
		<%= link_to 'Take Action 2!', "" %>
</div>

<div class='button' id='action2'>
		<%= link_to 'Take Action 3!', "" %>
</div>
