<section id='container_take_action'>
	<section class='button'>
			<%= link_to 'Our Vision', "" %>
	</section>
	<section class='button'>
			<%= link_to 'Our Mission', "" %>
	</section>
	<section class='button'>
			<%= link_to 'Take Action', "" %>
	</section>
</section>
