<h3 id='news'> Recent News </h3>
<% count = 0; max = 2 %>
<% latest_news(count: max).each do |item| %>
		<% cls = "news_item" %>
		<% if 0 == count then cls = cls + " first" %>
		<% elsif max - 1 == count then cls = cls + " last"%>
		<% end %>
		<section class="<%= cls %>">
			<%= render partial: "news_item.html.erb", locals: {item: item} %>
		</section>
	<% count += 1 %>
<% end %>
