<%= render partial: '/shared/hero' %>
<section id='body'>
	<section id='info_container' class='centered'>
		<%= render partial: "/shared/news" %>
		<section class='side_body'>
			<%= render partial: "/shared/social_network_feed" %>
			<%= render partial: "/shared/documents" %>
		</section>
	</section>
</section>
