<section id='hero_container'>
<%= render partial: '/shared/prezi' %>
<%= render partial: "/shared/take_action" %>
</section>

<section id='info_container'>
<%= render partial: "/shared/news" %>
<%= render partial: "/shared/social_network_feed" %>
</section>
