<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'home' %>
<% end %>

<section id='info_container' class='centered'>
	<%= render partial: "/shared/news" %>
	<%= render partial: '/shared/side_bar' %>
</section>
